.navbar-nav{
    font-size: 1.5rem;
}
.navbar-brand{
    font-size: 2rem;
}
.container{
    margin-top: 30px;
    margin-bottom: 10%;
}
.col-sm-4, .col-sm-8{
    margin-top: 10px;
    margin-bottom: 5%;
}
.col-sm-6{
    margin-top: 10px;
    margin-bottom: 5%;
}
#SubmitBtn{
margin-top: 10%;
}
#temp{
    font-size: medium;
}